@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DM Sans";
  src: local("DM Sans"),
    url("./fonts/DMSans/dm-sans-latin-400-normal.woff2") format("woff2");
}
@font-face {
  font-family: "HafferXH";
  src: local("HafferXH"),
    url("./fonts/HafferXH/HafferXH-Medium.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "HafferXH";
  src: local("HafferXH"),
    url("./fonts/HafferXH/HafferXH-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "HafferXH";
  src: local("HafferXH"),
    url("./fonts/HafferXH/HafferXH-SemiBold.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "SFMonoMedium";
  src: local("SFMonoMedium"),
    url("./fonts/SFMono/SFMonoMedium.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "SFMonoRegular";
  src: local("SFMonoRegular"),
    url("./fonts/SFMono/SFMonoRegular.otf") format("opentype");
  font-weight: 400;
}

body {
  font-size: 18px !important;
}
a {
  text-decoration: none !important;
}
